@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Universo Black";
  src: url("../public/fonts/Fontspring-DEMO-universo-black.otf");
}

@font-face {
  font-family: "Universo";
  src: url("../public/fonts/Fontspring-DEMO-universo-regular.otf");
}

@font-face {
  font-family: "Universo Light";
  src: url("../public/fonts/Fontspring-DEMO-universo-light.otf");
}

@font-face {
  font-family: "Universo Stencil";
  src: url("../public/fonts/Fontspring-DEMO-universo-stencil.otf");
}

@font-face {
  font-family: "Universo Thin";
  src: url("../public/fonts/Fontspring-DEMO-universo-thin.otf");
}

body{
  background-color: rgb(18, 18, 18);
}